label{
    font-weight:bold;
    color:#444;
}

.ticket-div {
    width: 3.5em;
    height: 2em;
    color: white;
    background-color: darkred;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;   
}
